@use '../abstracts/variables' as v;

.Accordion {
  display: flex;
  width: 100%;
  gap: 40px;

  @media screen and (max-width: v.$tablet){
    flex-direction: column;
  }

  .AccordionImage {
    flex: 1;
  }

  details > summary {
    list-style-type: none;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    padding-bottom: 10px;
    position: relative;
  }
  details > summary::after {
    content: '+';
    font-size: 40px;
    position: absolute;
    right: 10px;
  }

  details[open] > summary::after {
    content: '-';
  }

  details {
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    padding: 27px 16px 25px;
    width: 100%;
    display: flex;
  }
}

.AccordionInfo {
  display: inline-flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

// .DetailsContent {
//   width: 60%;
// }

// .DetailsImage {
//   position: absolute;
//   left: 20px;
//   top: 60px;
//   opacity: 0;
//   max-width: 46vw;
//   height: 540px;
//   transition: opacity 500ms ease;
//   background-color: #262A36;
//   margin-right: 2%;

//   &_default {
//     opacity: 100%;
//     position: relative;
//     top: auto;
//     left: auto;
//     height: 500px;
//     max-height: 500px;
//     min-width: 49vw;
//     max-width: 49vw;
//   }

//   @media screen and (max-width: v.$tablet){
//     display: none;
  
//     &_default {
//       min-width: 90vw;
//       margin: 0;
//       display: block;
//     }
//   }
// }