/* Fonts */
$font-primary: 'Poppins';
$font-secondary: 'Bebas Neue';

/* Screen Sizes */
$full-width: 1440px;
$desktop: 1280px;
$tablet: 1024px;
$mobile: 768px;

/* Colors */
$color-text: #ffffff;

$color-lightblue:#6294C5;
$color-navyblue: #262A36;
$color-greyblue: #83A1BA;

$silver-gradient:  linear-gradient(0deg, rgba(98, 148, 197, 0.5), rgba(98, 148, 197, 0.5)), radial-gradient(66.65% 163.54% at -4.53% -9.61%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(81.08deg, #576265 3.01%, #9EA1A1 20.86%, #848B8A 42.94%, #576265 47.4%, #576265 76.39%, #757A7B 84.41%, #576265 95.63%);
