@use '../abstracts/variables' as v;


.AboutSection {
  background:  linear-gradient(0deg, rgba(98, 148, 197, 0.6), rgba(98, 148, 197, 0.6)), url('../../images/about-hero.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 0;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  > div {
    width: 100%;
  }
}
.AboutTitle{
  display: block;
  > h1 {
    margin-bottom: 0;
    line-height: 100%;
  }
}
.PointGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  > div {
    max-width: 320px;
  }

}

.CreditsList {
  font-size: 20px;
  list-style: none;
  li {
    margin-bottom: 25px;
  }

  span {
    font-weight: bold;
    letter-spacing: 0.02em;
  }

  &::before {
    content: '';
    position: absolute;
    background:rgba(v.$color-navyblue, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
}