@use '../abstracts/variables' as v;


.ContactListItem {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  svg {
    color: v.$color-lightblue;
    margin-top: 5px;
  }
}
.Form {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  width: 750px;
  
  label {
    margin-bottom: 10px;
  }
  input[type='email'], input[type='text'], textarea{
    background: #F2F2F2;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    margin-bottom: 30px;
  }
}

.ThankYou {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;

  * {
   margin: 0 auto 15px auto;
  }
}