@use '../abstracts/variables' as v;

.ProjectsGrid {
  display: flex;
  justify-content: space-between;
  row-gap: 60px;
  column-gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
  max-width: 100%;
}

.Card {
  width: 720px;
  max-width: 100%;
  position: relative;
}
.ImageWrap {
  position: relative;
  margin-bottom: 20px;
}
.Expand {
  background: v.$color-lightblue;
  width: 80px;
  height: 80px;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  padding: 0;
  border: none;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    color: white;
    font-size: 38px;
  }
}
.Info {
  display: flex;
  gap: 30px;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  > span {
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    display: block;
    align-self: flex-start;
    @media screen and (max-width: 1024px){
      font-size: 1.8rem;
    }
  }
}
.Name {
  font-weight: 300;
  font-size: 38px;
  max-width: 500px;
  line-height: 1.2;
  margin-bottom: 20px;
  @media screen and (max-width: 1024px){
    font-size: 1.4rem;
  }
 
}
.BioWrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;

  z-index: 5;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  

}
.BioBack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.33);
  z-index: -1;
}
.Bio {
  max-width: 100%;
  width: 1550px;
  
  height: 100%;
  top: 40px;
  
  position: relative;
  overflow-y: scroll;
  color: v.$color-black;
  svg {
    color: v.$color-black;
  }
}
.BioInner {
  background: white;
  height: max-content;
  padding: 33px;
}
.BioTop {
  display:flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.BioImages {
  display: Grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  gap: 10px;
  flex: 1 1 450px;
  > div {
    grid-column: auto/span 1;
    
  }
  > div:nth-child(3n-2){
    grid-column: auto/span 2;
  }
}

.hamburger{
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;

  .bar{
    position: absolute;
    border: 2px solid black;
    width: 100%;
    height: 0;
    left: 0;
    top: 50%;
    &:nth-of-type(1){
      transform: rotate(45deg);
    }
    &:nth-of-type(2){
      transform: rotate(-45deg);
    }
  }
  
}
