html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: $font-primary;
  overflow-y: scroll;
  background: $color-navyblue;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color:  $color-text;
  font-family: sans-serif;
  font-family:  $font-primary;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
a {
  background-color: transparent;
  color: $color-text;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-secondary;
  font-weight: $font-weight-md;
  margin: 0;
  letter-spacing: 0;
}
h1 {
  padding: 0;
  font-size: 151px;
  line-height: 110%;

  background: linear-gradient(121.3deg, #6294C5 1.24%, white 95.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 45px 243px 99px rgba(0, 0, 0, 0.01), 26px 136px 83px rgba(0, 0, 0, 0.05), 11px 61px 62px rgba(0, 0, 0, 0.09), 3px 15px 34px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
h2 {
  font-size: 95px;
  line-height: 114px;
  background: linear-gradient(93deg, #5E98CB -2.45%, #FFFFFF 60.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text {
  letter-spacing: 0px;
  font-weight: $font-weight-md;
}
.Subtitle-1 {
  @extend .text;
  font-size: 40px;
  line-height: 28px;
}
.Subtitle-2 {
  @extend .text;
  font-size: 35px;
  line-height: auto;
}

.BodyText {
  @extend .text;
  font-size: 20px;
  line-height: 150%;
}
.BodyText-lg {
  @extend .text;
  font-size: 22px;
  line-height: 150%;
}

img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-size: 0.875rem;
  background: hsla(0, 0%, 0%, 0.04);
  overflow: auto;
  word-wrap: normal;

}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: 8px;
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: 8px;
  margin-left: 16px;
  margin-top: 8px;
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: 8px;
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
